# Node
node_modules/
npm-debug.log
yarn-error.log

# React Native
*.jsbundle
*.bundle
*.bundle.map

# Android
android/.gradle/
android/app/build/
android/build/
android/local.properties
android/app/.cxx/
*.iml

# iOS
ios/Pods/
ios/build/
*.xcworkspace
xcuserdata/

# Editor
.idea/
.vscode/
*.swp
.DS_Store

# Env
.env
.env.*
!.env.example
